.my-container {
    width: 500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


td,th {
    font-size: 10px;
}
th, .video-title{
    text-align: center
}